/* You can add global styles to this file, and also import other style files */
.active-music {
    border: 1px solid rgb(0, 123, 255)!important;
}
h5.card-title {
    font-size: 1rem;
}

iframe {
    display: block;
    margin: auto;
    max-width: 100%;
}